/* Files imported with @use are called modules.
To use mixins or variables of these modules, we have to call them using namespaces.
-By default, the namespace is the filename without the extension.
*/
@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  @include gradient;
  li {
    padding: 0 0.7rem;
    a {
      color: $white;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
}
